<div class="b">

  <h1>password Generator</h1>

  <div class="c">

    <div class="container d">


      <div class="m">


        <div class="input-field col s12">
          <input id="password" type="number" class="validate" placeholder="charachter..." autofocus (input)='onChange($any($event.target).value)' >
          <label for="password"></label>
        </div>
        <p>
          <label>
            <input type="checkbox" (change)='onChngeLetter()'/>
            <span>use letter</span>
          </label>
        </p>
        

        <p>
          <label>
            <input type="checkbox" (change)='onChngeNumber()' />
            <span>use number</span>
          </label>
        </p>
        

        <p>
          <label>
            <input type="checkbox" (change)='onChngeSeymbol()' />
            <span>use seymbols</span>
          </label>
        </p>

        <button class="btn waves-effect waves-light"  (click)='g1()'>generate
         
        </button>
        
      </div>

      <div class="input-field col s12" *ngIf='password'>
        <input id="password" type="text" class="validate" placeholder="password" [value]='getpass()'>
        <label for="password"></label>
      </div>
    </div>


  </div>

</div>